PORT=4000
# Local dev
MONGO_URI=mongodb://localhost:27017/leyes-app
# Atlas (sample) - reemplaza USER, PASS y HOST
# MONGO_URI=mongodb+srv://USER:PASS@cluster0.xxxxxx.mongodb.net/leyes-app?retryWrites=true&w=majority&appName=leyes-app
SAIJ_BASE_URL=https://www.saij.gob.ar
LOG_LEVEL=info
